/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @font-face {
    font-family: Note;
    src: url(../fonts/Noteworthy-Lt.ttf);
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  make transparent link selection, adjust last value opacity 0 to 1.0 
}

html {
    background-color: #333333;
}

body {
    font-family: Note;
    font-weight:lighter;
}

/* Portrait layout (default) */
.app {
    padding: 20px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.app {

}

header {
    background: linear-gradient(#FFDF00, #FFC700);
    font-size: 30px;
    color: #333;
    margin-left: -28px;
    margin-top: -54px;
    position: fixed;
    width: 100%;
    text-align: center;
}

header p {
    padding-top: 20px;
}


















h1 {
    width: 80%;
    font-size:51px;
    color: #fff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 0px;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 33px;
    padding-top: 25px;
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

#menu {
    text-align: center;
    margin-top: 40px;
}

#menu img {
    margin-top: -100px;
}

#play {
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    background-color: #696A6D;
    padding: 20px 40px;
    /*box-shadow: 5px 5px 1px #282828;*/
    border-radius: 20px;
}

canvas {
    margin-left: -28px;
    margin-top: -76px;
}










